In [1]:
#dependencies and setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import scipy.stats as st

#api key
from config import weather_api_key

# Incorporated citipy to determine city based on latitude and longitude
from citipy import citipy

#output CSV
output_data_file = "output_data_cities.csv"

# Range of latitudes and longitudes
lat_range = (-90, 90)
lng_range = (-180, 180)

In [2]:
df = pd.read_csv(output_data_file)

In [3]:
df

,Unnamed: 0,City Name,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp (F),Wind Speed
0,0,Hobart,40,AU,1621525152,74,-42.8794,147.3294,47.318,1.34
1,1,Souillac,40,MU,1621525245,69,-20.5167,57.5167,74.048,9.72
2,2,Lompoc,1,US,1621525183,61,34.6391,-120.4579,65.642,4.12
3,3,Gizo Government Station,90,SB,1621525246,76,-8.1030,156.8419,81.986,1.52
4,4,Cherskiy,99,RU,1621525149,88,68.7500,161.3000,31.982,2.28
...,...,...,...,...,...,...,...,...,...,...
561,561,Herat Province,0,AF,1621525389,15,34.5000,62.0000,79.664,5.41
562,562,Puerto Madero,5,MX,1621525389,70,14.7208,-92.4215,84.074,1.57
563,563,Badiraguato,0,MX,1621525389,36,25.3667,-107.5167,80.978,1.52
564,564,Yerky,100,UA,1621525390,80,48.9906,30.9882,58.784,2.15
565,565,Ghanaur,56,IN,1621525390,51,30.3322,76.6072,81.896,4.58

In [4]:
df.to_html("weather_data.html")